<div class="row mt-5">
	<div class="col-md-6 logo">
		<%= image_tag(root_url + "uploads/as_logo.jpg", size: "200x200", :alt => "Logo") %>
		<h1>Attractor School</h1>
	</div>
	<div class="col-md-6 py-auto mt-5">
		<%= render 'devise/sessions/login' %>
	</d
</div>
