<div class="row mt-5">
	<div class="col-md-6 logo">
		<img src="https://cdn4.telesco.pe/file/nGxDpHkU8Qsn0cLz9HLU44rlq6WkgE34WkVgxU-cs6sDqZk-1NjQlFGA4mAznI8RjYL00tkfMSCgkHeJbUPU8gkdrJbmz9jVrRlBAnH5_p7fU31k_5V1pKZLA1yLVOuNCCXTtVjiqmlnavaOjm-7XLgC3hiex_5rL3TNNOcuvqbtaELJz2VebO2veEbbanlE9ymqmpJVHOIj5f0vHN44YMZAm4nfnUo7UMY51gh22cZnTQwu6cSJmb3ng13HSE-kj2frsBANi7E39olskMpvLSa1eakk3pLXH6sWNjJsIHi8nU7T3ps_tkevg5IyFheGYMKRuTlCsg_cu4FKI25QjA.jpg" width="200">
		<h1>Attractor School</h1>
	</div>
	<div class="col-md-6 py-auto">
		<%= render 'devise/sessions/login' %>
	</d
</div>
