<nav class="navbar fixed navbar-dark bg-dark navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          &#x2630;
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-nav ml-auto">
              <div class="navbar-nav ml-auto">
                  <% if user_signed_in? %>
                        <% if current_user.role == 2  %>
                        <div class='profile'>
                        <%= link_to "#{('Profile')}", show_profile_student_path(@student) %>
                         </div>
                        <% elsif current_user.role == 3 %>
                        <div class='profile'>
                        <%= link_to "#{('Profile')}", show_profile_teacher_path(@teacher) %>
                         </div>
                         <% end %>
                    <div class="nav-item">
                      <span class="navbar-text">
                        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'%>
                      <span>
                    </div>
                    <% else %>
                      <div class="nav-item">
                         <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
                      </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</nav>
