<table class="table-striped w-100 mt-4">
	<tr>
		<th>Студент</th>
		<th>Рецензия к домашке </th>
	</tr>
	<% @lessons.each do |lesson| %>
	<tr>
		<td><% lesson.homeworks.each do |homework|%>
			<%= "#{homework.student.first_name} #{homework.student.last_name}"%>
			<%end%>
		</td>
		<td><%= link_to "Рецензия", admin_review_path(lesson)%></td>
	</tr>
	<% end %>
</table>