<table class="table-striped w-100 mt-4">
	<tr>
		<th>Студент</th>
		<th>Рецензия к домашке </th>
	</tr>

	<tr>
	<% @lessons.each do |lesson| %>
		<% lesson.homeworks.each do |homework|%>
		<td><%= "#{homework.student.first_name} #{homework.student.last_name}"%>
		</td>

		<td><%= link_to "Рецензия", admin_review_path(homework.student)%></td>
	</tr>
		<%end%>
	<% end %>
</table>