<h2>Список групп</h2>
<table class="table-striped w-100 mt-4">
	<tr>
		<th>Название группы</th>
		<th colspan="3">Действия</th>
	</tr>
<% @groups.each do |group| %>
	<tr>
		<td><%= link_to group.name, admin_group_path(group) %></td>
		<td>
			<%= link_to (fa_icon "edit"), edit_admin_group_path(group), class:"font"%>
			<%= link_to (fa_icon "trash"), admin_group_path(group), method: :destroy, class:"font" %>
		</td>
	</tr>

<% end %>
</table>