// Place all the styles related to the admin_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";

table.table-striped {
	text-align: center;
}
table .table-striped th, td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.template_title {
	text-align: center;
}
.section_title {
	justify-content: center;

}
.clause {
	text-align: left;
}
table.contract td {
	width: 70%;
	border: 1px solid black;
	text-align: center;
}
.form-input{
	width: 18.5%;
	border: 1px solid #CED4DA;
	background-clip: padding-box;
	color: #495057;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;  
}
.form-control{
  width: 50%;
}
.font{
	font-size: 18.5px;
}
.fa{
  color: #28a745;
}



















.name_client {
  font-weight: 900;
}
.title_foto_student{
  margin-left: 16px;
  margin-top:12px;
}
.round_border {
  border:30px solid  #fff;
  }
.foto_avatar_bottom {
margin-bottom: 15px;
padding-top: 0px;
}
.student_avatar_foto {
  margin-left: 141px;
}
.student_scan_id_card {
  margin-left: 38px;
}

.modal-body {
    margin-left: 29px;
    margin-bottom: 10px;
    margin-top: 10px;
}