// Place all the styles related to the admin_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

table.table-striped {
	text-align: center;
}
table .table-striped th, td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.template_title {
	text-align: center;
}
.section_title {
	justify-content: center;

}
.clause {
	text-align: left;
}
table.contract td {
	width: 70%;
	border: 1px solid black;
	text-align: center;
}