<br>
<% @reviews.each do |review|%>
<h5><%="#{review.homework.student.first_name} #{review.homework.student.last_name}" %></h5>
<h5>Оценка: <%= review.rate%></h5>
<td><%= review.content%></td>
<%end%>


