<h2>Список курсов</h2>
<table class="table-striped w-100 mt-4">
	<tr>
		<th>Название курса</th>
		<th colspan="3">Действия</th>
	</tr>
<% @courses.each do |course| %>
	<tr>
		<td><%= course.name %></td>
		<td>
			<%= link_to (fa_icon "edit"), edit_admin_course_path(course), class:"font" %>
			<%= link_to (fa_icon "trash"), admin_course_path(course), class:"font" %>
		</td>
	</tr>
<% end %>
</table>